@font-face {
  font-family: "UbuntuMedium";
  src: url("/fonts/ubuntuMedium.ttf");
}
* {
  margin: 0;
  padding: 2px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: "UbuntuMedium";
}
.wrapper {
  margin: 0 auto;
  max-width: 768px;
}
.canvas {
  width: 100%;
  border: 1px solid black;
}

.setSize {
  display: flex;
  justify-content: space-between;
}

.setSize input {
  font-size: 16px;
  width: 32%;
  border: none;
  background-color: cornflowerblue;
  height: 40px;
  border-radius: 5px;
}

#image {
  display: none;
}

.label_image {
  display: block;
  background-color: darkcyan;
  text-align: center;
  margin: 5px auto;
  padding: 5px;
}

.edit_block input {
  display: block;
  width: 100%;
  margin: 10px 0;
  height: 40px;
  font-size: 24px;
  border: 2px solid black;
  text-transform: uppercase;
}

.download {
  width: 100%;
}

.download input {
  display: block;
  width: 100%;
  font-size: 16px;
  border: none;
  background-color: cornflowerblue;
  height: 40px;
  border-radius: 5px;
}
.download input:active {
  transform: scale(0.8);
}

.selectors {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}
.regions {
  width: 50%;
}
.regions select {
  border: none;
  background-color: cornflowerblue;
  height: 30px;
  width: 100%;
}

.regions select option {
  background-color: white;
  font-size: 16px;
}
.switchStyle {
  width: 50%;
}
.switchStyle select {
  border: none;
  background-color: cornflowerblue;
  height: 30px;
  width: 100%;
}

.switchStyle select option {
  background-color: white;
  font-size: 16px;
}
